
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{content:title}</title>
<meta name="keywords" content="{content:keywords}">
<meta name="description" content="{content:description}">
<meta name="viewport" content="width=1380">
<link href="{pboot:sitedomain}/skin/css/aos.css" rel="stylesheet">
<link href="{pboot:sitedomain}/skin/css/style.css" rel="stylesheet">
<link href="{pboot:sitedomain}/skin/css/common.css" rel="stylesheet">
<link href="{pboot:sitedomain}/skin/css/swiper.css" rel="stylesheet">
<script src="{pboot:sitedomain}/skin/js/jquery.js"></script>
<script src="{pboot:sitedomain}/skin/js/jquery.jcarousellite.min.js"></script>
<script src="{pboot:sitedomain}/skin/js/pro.js"></script>
<script src="{pboot:sitedomain}/skin/js/pro_article.js"></script>

</head>
<body>
{include file=comm/head.html}
<!--内页大图开始-->
<div class="nybanner" aos="fade-up" aos-easing="ease" aos-duration="700">{pboot:sort scode={sort:tcode}}<img src="[sort:pic]">{/pboot:sort}</div>
<!--内页大图结束-->
<div class="submian">
  <div class="w1200 clearfix">
    <div class="sobtitle"><s class="ico"></s>{include file=comm/position.html} </div>
    {include file=comm/left.html}
    <div class="subright fr"> 
      <!--图片内容开始-->
      <div class="conBox">
        <div class="main_bor">
          <div class="proview">
            <div class="ban">
              <div class="big">
                <div class="swiper-container">
                  <div class="swiper-wrapper"> 
				   {pboot:pics num=10 id={content:id} [pics:i]}
				  <div class="swiper-slide"><img src="[pics:src]"><i class="iconfont icon-fdpic"></i></div> {/pboot:pics} </div>
                </div>
              </div>
              <div class="small">
                <div class="arrow-left"><i class="iconfont icon-left"></i></div>
                <div class="arrow-right"><i class="iconfont icon-right"></i></div>
                <div class="swiper-container">
                  <div class="swiper-wrapper">
				   {pboot:pics num=10 id={content:id}}
				  <div class="swiper-slide [pics:i]"><img src="[pics:src]"></div>
				  {/pboot:pics}
				   </div>
                </div>
              </div>
            </div>
            <div class="box">
              <h1 class="bt">{content:title}</h1>
              <p>产品分类： {sort:name}</p>
              <p>主要产品有：烙铁头、焊台、自动焊锡机配件</p>
              <p>订购热线：<strong>{pboot:companymobile}</strong></p>
              <div class="clearfix"></div>
              <a href="http://wpa.qq.com/msgrd?v=3&uin={pboot:companyqq}&site=qq&menu=yes" target="_blank" class="but">立即咨询</a> </div>
            <div class="clearfix"></div>
            <div class="stit"><span>产品详情</span></div>
            <div class="body">
             {content:content}
            </div>
            <ul class="key">
            </ul>
          </div>
        </div>
        <div class="main_bor main_bort">
        <div class="ktit">
          <div class="fl">采购：{content:title}</div>
          <div class="fr"><em>*</em> 表示必填</div>
        </div>
       <form action="{pboot:msgaction}"  method="post">
         <input name="titlee" type="text" style="display:none" value="{content:title}" >
          <ul class="messdd">
            <li>
              <label><i>*</i>联系人：</label>
              <input type="text" name="contacts" id="contacts">
            </li>
            <li>
              <label><i>*</i>手机号码：</label>
              <input type="text" name="mobile" id="mobile">
            </li>
            <li>
              <label>电子邮件：</label>
              <input type="text" name="mail" id="mail">
            </li>
            <li class="all">
              <label><i>*</i>采购意向描述：</label>
              <textarea class="form-control" rows="5" name="content" id="content"></textarea>
              <div class="ms">请填写<span>采购</span>的产品数量和产品描述，方便我们进行统一备货。</div>
            </li>
            <li class="all">
                 {pboot:if({pboot:logincodestatus})}
                <div class="form-group">
                    <label for="checkcode">验证码</label>
                    <div class="row">
                        <div class="col-6">
                            <input type="text" name="checkcode" required id="checkcode" class="form-control" placeholder="请输入验证码">
                        </div>
                        <div class="col-6">
                            <img title="点击刷新" style="height:33px;" id="codeimg" src="{pboot:checkcode}" onclick="this.src='{pboot:checkcode}?'+Math.round(Math.random()*10);" />
                        </div>
                    </div>
                </div>
                {/pboot:if}
              <input type="submit" name="submit" value="提交">
              <input type="reset" name="reset" value="重置">
              
            </li>
          </ul>
        </form>
      </div>
        <!--推荐资讯开始-->
        <h4 class="anlitopH4"><span>推荐资讯</span></h4>
        <div class="divremmnews">
          <ul class="clearfix">
            {pboot:list scode=2 num=6 order=sorting}
            <li><span class="fr">[list:date style=Y-m-d]</span><a href="[list:link]" title="[list:title]" >[list:title lencn=30]</a></li>
             {/pboot:list}

          </ul>
        </div>
        <!--推荐资讯结束--> 
      </div>
      <!--图片内容结束--> 
    </div>
  </div>
</div>
 
{include file=comm/foot.html}
<script type="text/javascript">   			
	AOS.init({
		easing: 'ease-out-back',
		duration: 1000
	});
</script>
 
<script type="text/javascript">
    itlxt.proban('.proview .ban');
    itlxt.picfd('.proview .ban .big .swiper-slide');
</script>

</body>
</html>